<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <div class="container">
    <h1>URL Shortener</h1>

    <form action="/url" method="post">
      <label>Enter Original URL</label>
      <input type="text" placeholder="https://example.com" name="url" required>
      <button type="submit">Generate</button>
    </form>

    <% if (locals.ShortUrl) { %>
      <div class="result">
        Your Generated URL:<br>
        <strong>http://localhost:3000/url/redirect/<%= ShortUrl %></strong>
      </div>
    <% } %>
  </div>

</body>
</html>